core/src/test/resources/xsd/error-message.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified"
           targetNamespace="http://docs.rackspace.com/identity/api/ext/MappingRules"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:mapping='http://docs.rackspace.com/identity/api/ext/MappingRules'>

    <xs:element name="error-message" type="mapping:ErrorMessage"/>

    <xs:complexType name="ErrorMessage">
        <xs:all>
            <xs:element name="contains" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:all>
    </xs:complexType>
</xs:schema>
